.others-link:hover{
    color: rgb(206, 8, 48) !important; 
}

button{
    margin-top: 15px;
}

body{
    background-color: #fafbfd;
}
 

.nav-link {    
    color:whitesmoke;     
   } a:hover{     
    color: orange !important; 
   }

.container-p{
    margin-top:40px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
}   

.menu-link{text-decoration: none; }
.menu-link:hover{  
      
    color: rgb(206, 8, 48) !important; 
   }

a{
    color: #093366;
}

.white-board{
    padding: 10px;
    padding-top: 20px;
    background-color: #ffffff;
    border: 1px solid #093366;
    box-shadow: 3px 3px 2px #888888;                            
    font-family: monospace;
}

.white-board-explication{    
    padding: 10px;
    padding-top: 20px;
    background-color: #ffffff;
    border: 1px solid #093366;
    box-shadow: 3px 3px 2px #888888;
    text-align: center;    
}
   






  

   
   

